{
  "printWidth": 70,
  "tabWidth": 2,

  "useTabs": false,
  "semi": false,

  "trailingComma": "all",
  "bracketSpacing": true,

  "arrowParens": "avoid",
  "proseWrap": "never",
  "endOfLine": "auto",

  "plugins": ["prettier-plugin-tailwindcss"],
  
  "tailwindFunctions": ["clsx"],
  "tailwindStylesheet": "./packages/ui/styles/tailwind.css"
}
