@import "@packages/ui/styles/tailwind.css";
@import "@packages/ui/styles/krds-common.css";

@source "../app";
@source "../../../../packages/ui/components";

body {
    @apply bg-gray-950;
    color-scheme: dark;
}
