@import "tailwindcss";

@theme {
  /* KRDS - Typography */
  --font-sans: "Pretendard GOV Variable", "Pretendard GOV", sans-serif;
  --text-base: 1.0625rem; /* 17px */

  /* KRDS - gray */
  --color-gray-50: #f4f5f6;
  --color-gray-100: #e6e8ea;
  --color-gray-200: #cdd1d5;
  --color-gray-300: #b1b8be;
  --color-gray-400: #8a949e;
  --color-gray-500: #6d7882;
  --color-gray-600: #58616a;
  --color-gray-700: #464c53;
  --color-gray-800: #33363d;
  --color-gray-900: #1e2124;
  --color-gray-950: #131416;

  /* KRDS - Primary */
  --color-primary-50: #ecf2fe;
  --color-primary-100: #d8e5fd;
  --color-primary-200: #b1cefb;
  --color-primary-300: #86aff9;
  --color-primary-400: #4c87f6;
  --color-primary-500: #256ef4;
  --color-primary-600: #0b50d0;
  --color-primary-700: #083891;
  --color-primary-800: #052561;
  --color-primary-900: #03163a;
  --color-primary-950: #020f27;

  /* KRDS - Secondary */
  --color-secondary-50: #eef2f7;
  --color-secondary-100: #d6e0eb;
  --color-secondary-200: #bacbde;
  --color-secondary-300: #90b0d5;
  --color-secondary-400: #6b96c7;
  --color-secondary-500: #346fb2;
  --color-secondary-600: #1c589c;
  --color-secondary-700: #063a74;
  --color-secondary-800: #052b57;
  --color-secondary-900: #031f3f;
  --color-secondary-950: #02162c;

  /* KRDS - Point */
  --color-point-50: #fbeff0;
  --color-point-100: #f5d6d9;
  --color-point-200: #ebadb2;
  --color-point-300: #e0858c;
  --color-point-400: #d65c66;
  --color-point-500: #d63d4a;
  --color-point-600: #ab2b36;
  --color-point-700: #7a1f26;
  --color-point-800: #521419;
  --color-point-900: #310c0f;
  --color-point-950: #1e0709;

  /* KRDS - Danger */
  --color-danger-50: #fdefec;
  --color-danger-100: #fcdfd9;
  --color-danger-200: #f7afa1;
  --color-danger-300: #f48771;
  --color-danger-400: #f05f42;
  --color-danger-500: #de3412;
  --color-danger-600: #bd2c0f;
  --color-danger-700: #8a240f;
  --color-danger-800: #5c180a;
  --color-danger-900: #390d05;
  --color-danger-950: #260903;

  /* KRDS - Success */
  --color-success-50: #eaf6ec;
  --color-success-100: #d8eedd;
  --color-success-200: #a9dab4;
  --color-success-300: #7ec88e;
  --color-success-400: #3fa654;
  --color-success-500: #228738;
  --color-success-600: #267337;
  --color-success-700: #285d33;
  --color-success-800: #1f4727;
  --color-success-900: #122b18;
  --color-success-950: #0e2012;

  /* KRDS - Information */
  --color-information-50: #e7f4fe;
  --color-information-100: #d3ebfd;
  --color-information-200: #9ed2fa;
  --color-information-300: #5fb5f7;
  --color-information-400: #2098f3;
  --color-information-500: #0b78cb;
  --color-information-600: #096ab3;
  --color-information-700: #085691;
  --color-information-800: #053961;
  --color-information-900: #03253f;
  --color-information-950: #021a2c;

  /* 경기고등학교 이공연 브랜드컬러 */
  --color-ceruleanBlue-50: #eff6ff;
  --color-ceruleanBlue-100: #dceafd;
  --color-ceruleanBlue-200: #c1dafc;
  --color-ceruleanBlue-300: #96c4fa;
  --color-ceruleanBlue-400: #65a3f5;
  --color-ceruleanBlue-500: #4181f0;
  --color-ceruleanBlue-600: #2b63e5;
  --color-ceruleanBlue-700: #2452db;
  --color-ceruleanBlue-800: #2241ab;
  --color-ceruleanBlue-900: #213b87;
  --color-ceruleanBlue-950: #192552;
}

body {
  @apply text-base font-sans;
}
