.react-calendar {
  width: 100%;
  border: none;

  font-family: var(--font-sans) !important;
  background: transparent;
}

/* 날짜 폰트 크기 */
.react-calendar__tile {
  font-size: var(--text-base) !important;
}

.react-calendar__tile abbr {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  border-radius: 0.5rem;
}

/* 전체 폰트 컬러 */
.react-calendar__month-view abbr {
  color: var(--color-gray-100);
}

/* 요일 밑줄 제거 */
.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
  font-weight: 800;
}

/* 토요일에는 파란색, 일요일에는 빨간색 */
.react-calendar__month-view__weekdays__weekday--weekend
  abbr[title="토요일"],
.react-calendar__month-view__days__day.saterday abbr {
  color: var(--color-ceruleanBlue-400);
}

.react-calendar__month-view__weekdays__weekday--weekend
  abbr[title="일요일"],
.react-calendar__month-view__days__day.sunday abbr,
.react-calendar__month-view__days__day.holiday abbr {
  color: var(--color-point-500);
}

/* 오늘 날짜 / 선택한 날짜 폰트 컬러 */
.react-calendar__tile:focus abbr {
  color: var(--color-gray-100) !important;
  background-color: var(--color-ceruleanBlue-950);

  outline: 2px solid var(--color-ceruleanBlue-700);
  outline-offset: 2px;
}

.react-calendar__tile:hover abbr {
  color: var(--color-gray-100) !important;
  background-color: var(--color-ceruleanBlue-900);
}

.react-calendar__tile--active abbr {
  color: var(--color-gray-100) !important;
  background-color: var(--color-ceruleanBlue-700);
}

.react-calendar__tile:hover,
.react-calendar__tile:focus,
.react-calendar__tile:disabled,
.react-calendar__tile--now,
.react-calendar__tile--active {
  background: none !important;
}
