/*--- Indicator ---*/
.swiper-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    position: relative;
    bottom: 3rem;
}

/*--- Pagination ---*/
.swiper-indicator .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    position: relative;
    top: auto;
    bottom: auto;

    width: auto;
    height: 2.5rem;

    padding: 0 1rem;

    color: var(--color-gray-900);
    font-weight: 700;

    border-radius: calc(infinity * 1px);
    border: 1px solid var(--color-gray-200);
    background-color: var(--color-gray-100);
}

/*--- Buttons ---*/
[class^=swiper-button-] {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.5rem;
    height: 2.5rem;

    border-radius: calc(infinity * 1px);
    border: 1px solid var(--color-gray-200);
    background-color: var(--color-gray-100);
}

[class^=swiper-button-]:focus {
    outline-width: 1px;
    outline-style: solid;
    outline-offset: 2px;
    outline-color: var(--color-ceruleanBlue-700);
}

[class^=swiper-button-]::after {
    content: '';
    display: inline-flex;

    width: 1.5rem;
    height: 1.5rem;
    
    background-color: var(--color-gray-900);
}

/*--- Navigation ---*/
.swiper-indicator .swiper-navigation {
    display: inline-flex;
    gap: 0.5rem;
}

.swiper-indicator .swiper-navigation .swiper-button-next,
.swiper-indicator .swiper-navigation .swiper-button-prev {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    
    margin: 0;
}

.swiper-indicator .swiper-navigation .swiper-button-prev {
    left: 0;
}

.swiper-indicator .swiper-navigation .swiper-button-next {
    right: 0;
}

.swiper-indicator .swiper-navigation .swiper-button-prev::after {
    -webkit-mask-image: url('https://www.krds.go.kr/resources/img/component/icon/ico_swiper_prev.svg');
    mask-image: url('https://www.krds.go.kr/resources/img/component/icon/ico_swiper_prev.svg');
}

.swiper-indicator .swiper-navigation .swiper-button-next::after {
    -webkit-mask-image: url('https://www.krds.go.kr/resources/img/component/icon/ico_swiper_next.svg');
    mask-image: url('https://www.krds.go.kr/resources/img/component/icon/ico_swiper_next.svg');
}